/*corpos principais*/

/*cabeçalho*/

.navbar {
  width: 100%;
  color: #ccc
}

.navbar-header {
  width: 100%
}
/*--Logo*/

.logo a {
  float: left;
}

.logo img {
  
}

/* --Links de navegação-- */
.nome-brand {
  
  float: left;
  width: 140px;
  height: 67px;
  margin: 0px 0px 0px -11px;
  padding: 20px 0px;
  color: white;
}

/* --Links de navegação-- */
.navlinks {
  
  float: right;
  height: 64px;
}

.navlinks li {
  
  margin: auto;
}

.navlinks a {
  color: #aaa
}

.navlinks a:hover {
  color: #ddd
}

/* --Primeiro jumbotron-- */
.jumbo-1 {
  
  margin: 5%;
}

.jumbo-1-contents {
  
  display: flex;
}
.jumbo-1 a {
  
  float: left;
}

.jumbo-1 img {
  
  border-radius: 50% !important;
  width: 30vw;
}

.jumbo-1 .jumbo-texto-principal {
  
  float: right;
  margin: auto;
  padding: 0 5%;
}

.jumbo-texto-principal h2{
  
  font-size: 5em;
}

.jumbo-texto-principal h3 {
  
}

.jumbo-texto-principal h3 span {
  font-size: 1.15em;
}

.col-sm-4 {
  margin: auto;
  padding: 50px 0px;
}
.col-sm-4 img{
  width: 100%;
}

/*Rodapé*/
footer {
  color: #777;
  margin: 0 0 ;
}

footer p {
  font-style: oblique;
  font-weight: bold;
  font-size: x-large;
}

.jumbotron {
  margin: auto;
  display: grid;
  padding: 11px 0;
}